{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel=stylesheet href="{% static 'post/css/bootstrap.min.css' %}">
    <link rel=stylesheet href="{% static 'post/css/style.css' %}">
    
    <title>{%block title%}{% endblock %}</title>
</head>
<body>
        {%if messages%}
        {%for message in messages%}
        <div class="alert alert-dismissible alert-{{message.tags}}">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{message}}
        </div>
    
        
        
    
        {%endfor%}
        {%endif%}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{%url 'post:home-page'%}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                    </li>
                    {%url 'users:login-page' as loginurl%}
                    {%if not user.is_authenticated and request.path != loginurl%}
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'users:login-page'%}">LogIn</a>
                    </li>
                    {%endif%}
                    {%if user.is_authenticated%}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" href="{%url 'users:profile-page'%}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{user.username}}</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            {%if not user.profile.author%}
                                <a class="dropdown-item" href="{%url 'users:beauthor-page'%}">Become an author</a>
                            {%else%}
                                <a class="dropdown-item" href="{%url 'post:createpost-page'%}">Create Post</a>
                                <a class="dropdown-item" href="{%url 'post:myposts-page' user.username%}">My Posts</a>
                            {%endif%}
                                <a class="dropdown-item" href="{%url 'users:logout-page'%}">Logout </a>
                        </div>
                    </li>
                    {%endif%}
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
      
           
          
           
        <div class="container">
    {%block body%}
    the body of the pages exists here
    {% endblock %}
    </div>
    

   
    
        <script src="{%static 'post/js/jquery.js' %}"></script> 
        <script src="{%static 'post/js/propper.js' %}"></script> 
        <script src="{%static 'post/js/bootstrap.js' %}"></script>                     
</body>
</html>