{%extends 'base.html'%}
{%block title%}
{{post.title}}
{%endblock%}
{%block body%}

<h1 class="text-center">{{post.title}}</h1>
<h1 class="text-center">{{post.author}}</h1>
    <div class="row">
        <div class="blog col-md-9">        
            <div class="card">
                <a href="#">
                  {%if post.image%}
                <img src="{{post.image.url}}" class="card-img-top" alt="blog1"></a>
                  {%endif%}
                <div class="card-body">
                <h3 class="card-title text-center">
                  
                </h3>
                <div class="blog-header">
                    <h1 class="blog-title">{{post.title}}</h1>
                    <p class="lead blog-description">{{post.body}}</p>
                  </div>
            
                  <div class="row">
            
                    <div class="col blog-main">
            
                      <div class="blog-post">
                        <h2 class="blog-post-title">Post breif</h2>
                        <p class="blog-post-meta">March 18, 2019 by <a href="#">Hany</a></p>
            
                       
                        
                      </div><!-- /.blog-post -->
            
                      
            
                    </div><!-- /.blog-main -->
            
            
                  </div><!-- /.row -->
                <p class="card-text"></p>
                </div>
            </div>          
        </div>
    
{%endblock%}