a:hover{
    text-decoration: none
}
.resize {
    width: 400px;
    height: auto;
}

.resize {
    width: 300px;
    height: auto;
    
}
.jumbotron{
    padding: 10px;
}
.online{
   display: block
    

}
.online > a > img{
    float: left;
    margin-right:5%; 
   
}
.clear{
    clear: both;
}
.leead{
    
    margin: 0 0 3% 
}