.bgc-ccc{background-color: #ccc !important;}

.pager{
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    
}
img{
    max-height: 230px;
    max-width: 230px
}

.pager li{
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    background-color: #333;
}

.pager li a{
    color: #ccc;
    text-decoration: none
}


.widthSet {
    max-width: 64px;
}

.heightSet {
    max-height: 64px;
}











